@model Aula_6_LP3_Parte2.Models.Produto

@{
    ViewBag.Title = "AtualizarProduto";
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <title></title>
</head>
    <body>
        <nav id="menu">
            <ul>
                <li id="atu"><h1><a href="@Url.Action("Index","Home")">Home</a></h1></a></li>
                <li><a href="@Url.Action("Clientes","Cliente")">Cliente</a></li>
                <li><a href="@Url.Action("Produtos","Produto")">Produto</a></li>
                <li><a href="@Url.Action("Compras","Compra")">Compra</a></li>
            </ul>
        </nav>
        <br />
        @using (Html.BeginForm("AtualizarProduto", "Produto"))
        {
            @Html.HiddenFor(model => model.IdProduto)

            <label for="Nome">Nome:</label>
            @Html.TextBoxFor(model => model.NomeProduto, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.NomeProduto)</span><br />

            <label for="Preco">Preço:</label>
            @Html.TextBoxFor(model => model.Preco, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Preco)</span><br />

            <label for="Descricao">Descrição:</label>
            @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Descricao)</span><br />

            <input type="submit" value="Atualizar" class="btn btn-success" />
        }
    </body>
</html>