@model Aula_6_LP3_Parte2.Models.Produto
@{
    ViewBag.Title = "CadastrarProduto";
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <title></title>
</head>
    <body>
        <nav id="menu">
            <ul>
                <li id="atu"><h1><a href="@Url.Action("Index","Home")">Home</a></h1></a></li>
                <li><a href="@Url.Action("Clientes","Cliente")">Cliente</a></li>
                <li><a href="@Url.Action("Produtos","Produto")">Produto</a></li>
                <li><a href="@Url.Action("Compras","Compra")">Compra</a></li>
            </ul>
        </nav>
        <br />
        @using (Html.BeginForm("CadastrarProduto", "Produto"))
        {
            <div>
                @Html.LabelFor(model => model.IdProduto)<br />
                @Html.TextBoxFor(model => model.IdProduto)<br />
            </div>
            <div>
                @Html.LabelFor(model => model.NomeProduto)<br />
                @Html.TextBoxFor(model => model.NomeProduto)<br />
            </div>
            <div>
                @Html.LabelFor(model => model.Preco)<br />
                @Html.TextBoxFor(model => model.Preco)<br />
            </div>
            <div>
                @Html.LabelFor(model => model.Descricao)<br />
                @Html.TextBoxFor(model => model.Descricao)<br />
            </div>
            <input type="submit" value="enviar" />
        }
    </body>
</html>