@model Aula_6_LP3_Parte2.Models.Cliente

@{
    ViewBag.Title = "AtualizarCliente";
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <nav id="menu">
        <ul>
            <li id="atu"><h1><a href="@Url.Action("Index","Home")">Home</a></h1></a></li>
            <li><a href="@Url.Action("Clientes","Cliente")">Cliente</a></li>
            <li><a href="@Url.Action("Produtos","Produto")">Produto</a></li>
            <li><a href="@Url.Action("Compras","Compra")">Compra</a></li>
        </ul>
    </nav>
    <br />
    @using (Html.BeginForm("AtualizarCliente", "Cliente"))
    {
        @Html.HiddenFor(model => model.IdCliente)

        <label for="Nome">Nome:</label>
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Nome)</span><br />

        <label for="Sexo">Sexo:</label>
        @Html.TextBoxFor(model => model.Sexo, new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Sexo)</span><br />

        <label for="Endereco">Endereço:</label>
        @Html.TextBoxFor(model => model.Endereco, new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Endereco)</span><br />

        <input type="submit" value="Atualizar" class="btn btn-success" />
    }
</body>
</html>