@model Aula_6_LP3_Parte2.Models.Cliente

@{
    ViewBag.Title = "CadastrarCliente";
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <nav id="menu">
        <ul>
            <li id="atu"><h1><a href="@Url.Action("Index","Home")">Home</a></h1></a></li>
            <li><a href="@Url.Action("Clientes","Cliente")">Cliente</a></li>
            <li><a href="@Url.Action("Produtos","Produto")">Produto</a></li>
            <li><a href="@Url.Action("Compras","Compra")">Compra</a></li>
        </ul>
    </nav>
    <br />
    @using (Html.BeginForm("CadastrarCliente", "Cliente"))
    {
        <div>
            @Html.LabelFor(model => model.IdCliente)<br />
            @Html.TextBoxFor(model => model.IdCliente)<br />
        </div>
        <div>
            @Html.LabelFor(model => model.Nome)<br />
            @Html.TextBoxFor(model => model.Nome)<br />
        </div>
        <div>
            @Html.LabelFor(model => model.Sexo)<br />
            @Html.TextBoxFor(model => model.Sexo)<br />
        </div>
        <div>
            @Html.LabelFor(model => model.Endereco)<br />
            @Html.TextBoxFor(model => model.Endereco)<br />
        </div>
        <input type="submit" value="enviar" />
    }
</body>
</html>